@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background-color: #202036;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.wrapper {
  flex: 0 0 32%;
  display: block;
  padding: 30px 10px;
  position: relative;
  box-sizing: border-box;
}

input {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: rgba(224, 224, 255, 0.8) !important;
  padding: 10px 25px;
  border-radius: 25px;
  border: solid 2px transparent;
  outline: 0;
  transition: .3s;
  background-color: rgba(224, 224, 255, 0.1);
  box-sizing: border-box;
}

input:focus {
  border-color: #0f7ef1;
}

.wrapper label {
  color: rgba(224, 224, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

.wrapper span {
  color: rgba(224, 224, 255, 0.6);
  position: absolute;
  top: 55px;
  right: 20px;
  font-weight: normal;
  font-size: 2em;
  padding: 0 0.2em;
  line-height: 1em;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .content {
  border-radius: 5px;
  min-width: 330px;
  min-height: 100px;
  background-color: #202036;
  padding: 20px;
}

@media all and (max-width: 1150px){
  .wrapper {
    flex: 0 0 49%;
  }
}

@media all and (max-width: 765px){
  .wrapper {
    flex: 0 0 98%;
  }
}
